PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/ph-apis
JWT_SECRET=your-long-random-secret

PAYHERO_AUTH_TOKEN=Basic YOUR_TOKEN_HERE
PAYHERO_CHANNEL_ID=123 (your payment channel id , not account id)
CALLBACK_URL=https://your-backend-url
